:root{
    --tile-bg-color: rgb(255, 166, 0, .8);
    --tile-bg-color2: rgb(255, 255, 255, .8);
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Rubik', sans-serif;
}

body{
    padding: 5%;
    /* height: 100vh; */
    /* background-color: rgb(0, 0, 0, .9); */
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(img/football-field.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    /* max-width: 1900px; */
}   

.custom-main-ctn{
    max-width: 1400px;
    margin: 0 auto;
}

/* Custom Title */
.custom-title{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: orange;
    height: 10vh;
}

.custom-tile-bg-color1{
    background-color: var(--tile-bg-color);
}

.custom-tile-bg-color2{
    background-color: var(--tile-bg-color2);
}

.table{
    /* add width */
}

#search-results{
    margin-top: 1vh;
    /* max-height: 50vh; */
    overflow-y: auto;
    /* scrollbar-color: #00CDAC #02AAB0; */
}

#search-results li{
    cursor: pointer;
    background-color: rgb(0, 0, 0, 0);
    text-align: center;
}

#search-results li:hover{
    background-color: rgb(0, 0, 0, .5);
}

.hide{
    display: none;
}

.show{
    display: block;
}

/* Keeps the filter in a single row */
.custom-filters{
    display: flex;
    justify-content: space-between;
}

.search-button{
    width: 48%;
    margin: 0 auto;
}

.hide-results{
    width: 48%;
    margin: 0 auto;
}

.custom-filters{
}

.custom-search-input{
    width: 96.6%;
    justify-self: center;
    /* margin: 0 auto; */
}

.custom-filter-item{

}

#players-ctn{
    overflow-y: auto
}

.custom-table{
    width: 100%;
}

@media only screen and (max-width: 493px) {
    .toggle-country{
        display: none;
    }

    .custom-table{
        overflow: hidden;
        /* width: 80%; */
    }

    .custom-table{
        padding: 0;
    }

    th, td{
        padding: 0;
    }

    #players-body tr td:nth-child(4){
        display: none;
    }
}
